.mail-list {
    display: grid;
    grid-template-columns: repeat(3, 30px) 1fr 1fr minmax(0, 1fr) 1fr ;

    width: 100%;
    padding: 12px;
}

.mail-list > tr {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;

    align-items: center;
    justify-content: space-between;

    border-block-end: 1px solid rgba(211, 211, 211, 0.641);
}

.mail-list > tr > * {
    display: grid;
    align-items: center;
    height: 20px;
    padding-block: 10px;

    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

td:last-child {
    place-self: end;
    padding-inline-end: 16px;
}