.mail-list {
    display: grid;
    grid-template-columns: 120px 200px minmax(0, 1fr) 100px;

    height: 100%;
    width: 100%;

    padding-block-end: 12px;
}

.mail-list > tr {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;

    align-items: center;

    padding-inline-start: 10px;

    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.12);
}

.mail-list > tr:hover {
    box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 2;
}

.mail-list > tr > * {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;

    justify-self: start;

    height: 20px;

    padding-block: 20px;

    font-family: Product-sans;
    font-size: .875em;
    letter-spacing: normal;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:last-child {
    justify-self: end;
    padding-inline-end: 16px;

    line-height: 0;
}

td.mail-actions {
    align-content: center;
    justify-content: space-around;

    > * {
        height: 30px;
        width: 30px;
    }
}

.from, .subject {
    color: var(--grey-2);
}

.from span {
    overflow: inherit;
    text-overflow: inherit;

    padding-inline-end: 16px;
}

td.info {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
    
    white-space: nowrap;
    overflow: hidden;

    align-self: self-start;

    .labels {
        flex: 0 1 auto;

        display: flex;
        margin-right: 10px;
        gap: 4px;

        font-size: 12px;
        font-weight: 200;

        > * {
            padding: 0 4px;
            border-radius: 4px;

            color: #666;
            background-color: #d1d1d1;
        }
    }
    
    .subject {
        flex: 4 0 auto;
        padding-inline-start: 10px;
        line-height: 1.2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .mail-body {
        flex: 1 5 auto;
        margin-left: 10px;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.mail-preview.read {
    background-color: var(--read-mail-bg);

    color: var(--grey-0);

    > * {
        font-weight: 200;
    }
}