:root {
    --main-bg-color: #f6f8fc;
    --read-mail-bg: #f2f6fc;
    --search-bar: #e9f1fc;
    --btn-hover: #dde2ec;
    --label-color: #505253;
    --active-btn: #c2e7ff;
    --active-nav: blue;
    --nav-press: purple ;
    
    --grey-2: #262629;
    --grey-1: #484a4e;
    --grey-0: #636467;

    --text-color: #000;
}

.dark-mode{
    --main-bg-color: #202124;
    --read-mail-bg: #3c4043;
    --search-bar: #28292c;
    --btn-hover: #4a4a4a;
    --label-color: #dadada;
    --nav-press: rgb(170, 119, 170) ;

    --active-btn: #c2e7ff;
    --active-nav: rgb(88, 130, 255);
    
    --grey-0: #262629;
    --grey-1: #484a4e;
    --grey-2: #636467;

    --text-color: #e4e9f2;
}