:root {
    --main-bg-color: #f6f8fc;
    --read-mail-bg: #f2f6fc;
    --search-bar: #e9f1fc;
    --btn-hover: #dde2ec;

    --active-btn: #c2e7ff;
    
    --grey-2: #262629;
    --grey-1: #484a4e;
    --grey-0: #636467;
}