.note-edit{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: min(600px, 90%);
    height: max-content;
    border: 1px solid var(--grey-2);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 2px 5px 1px #101010;
}

.note-edit button:hover{
    /* background-color: rgba(255, 255, 255, 0); */
    border-radius: 10px ;
}

.edit-input{
    background-color: var(--main-bg-color);
    border: none;
    outline: none;
    color: var(--text-color);
    font-family: product-sans;
}

.edit-input-text{
    background-color: var(--main-bg-color);
    height: 25px;
    border: none;

    resize: none;
    color: var(--text-color);
    outline: none;
    font-family: product-sans;
}

.edit-input::placeholder, .edit-input-text::placeholder{
    font-weight: bold;
    font-family: product-sans;
    color: #bdbdbe;
}