.note-preview{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid var(--note-border-color);
    border-radius: 8px;
    padding: 10px;
}

.note-preview:hover{
    box-shadow: var(--notes-box-shadow);
}

.note-preview p{
    margin-block: 12px;
}

.note-preview:hover .actions, .note-preview:hover .pin-btn{
    opacity: 100;
}

.actions{    
    position: relative;
    
    display: flex;
    gap: 4px;

    opacity: 0;
    transition: opacity .25s;
}

.actions button{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(98, 98, 98, 0.2);
    width: 30px;
    height: 30px;

    cursor: pointer;

    z-index: 10;
}

.actions input[type='color']{
    position: absolute;
    
    opacity: 0;

    cursor: pointer;

    z-index: 1;
}

.note-preview button{
    border-radius: 5px ;
    padding: 2px;
}

.note-title{
    text-shadow: var(--text-shadow);
    text-align: center;
}

.note-preview img{
    margin-block: 8px;
}

.todos-note{    
    list-style: none;
    padding: 0;
}

.todos-note li{
    display: flex;
    align-items: center;
}

.todos-note button:hover, .todos-note li:hover{
    cursor: pointer;
}

.todos-note button:hover{
    background-color: rgba(255, 255, 255, 0);
}

.todos-note li.checked{
    text-decoration: line-through;
}

.todo{
    display: flex;
}

button.pin-btn{
    position: absolute;
    top: -10px;
    right: -10px;

    background-color: rgb(68, 68, 68);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    opacity: 0;
    transition: opacity .25s;
    cursor: pointer;
}

button.pin-btn.pinned{
    opacity: 100;
}

.note-video{
    margin-bottom: 8px;
}