.note-edit{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: min(600px, 90%);
    height: max-content;
    border: 1px solid var(--note-border-color);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: var(--notes-box-shadow);
}

.note-edit button:hover{
    /* background-color: rgba(255, 255, 255, 0); */
    border-radius: 10px ;
}

.edit-input{
    background-color: var(--main-bg-color);
    border: none;
    outline: none;
    color: var(--text-color);
    font-family: product-sans;
}

.edit-input-text{
    background-color: var(--main-bg-color);
    height: 25px;
    border: none;

    resize: none;
    color: var(--text-color);
    outline: none;
    font-family: product-sans;
}

.edit-input::placeholder, .edit-input-text::placeholder{
    font-weight: bold;
    font-family: product-sans;
    color: #bdbdbe;
}

.input-container{
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-inline-end: 10px;
}

.noteTypes{
    display: flex;
    gap: 3px;
}

.noteTypes button:hover{
    background-color: #ffffff00;
    border-radius: 5px;
    cursor: pointer;
}