.app {
    position: relative;

    display: grid;
    grid-template-columns: minmax(92px, 256px) 1fr;
    grid-template-rows: 64px 1fr 16px;

    height: 100vh;

    font-family: Product-sans, Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
    font-size: 20px;
}

.mail-container {
    grid-column: 2 / -1;

    height: 100%;

    padding-block-start: 12px;
    border-radius: 12px;
    margin-inline-end: 16px;

    background-color: white;
}

.actions-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;

    font-size: 12px;

    button {
        padding: 10px;
    }

    color: var(--text-base);
}

.shown-mails {
    display: flex;
    align-items: center;
}

.filter-tabs {
    display: grid;
    grid-template-columns: repeat(4, minmax(167px, 252px));

    border-block-end: 1px solid rgba(211, 211, 211, 0.641);
    
    color: var(--text-base);

    > button {
        display: flex;
        align-items: center;

        height: 56px;
        flex-grow: 1;
        border-radius: unset;

        color: var(--text-base);

        span {
            margin-inline: 16px;
        }
    }
}