.app {
    display: grid;
    grid-template-columns: minmax(92px, 256px) 1fr;
    grid-template-rows: 64px auto;

    height: 100vh;

    font-family: Product-sans, Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
    font-size: 20px;
}

.mail-container {
    grid-column: 2 / -1;

    padding-block-start: 12px;

    border-radius: 12px;
    margin-inline-end: 16px;

    background-color: white;
}

.context-menu {
    display: grid;
    place-items: center;

    position: absolute;
    height: fit-content;
    width: fit-content;

    top: 0;
    left: 0;


    padding: 0;
    border-radius: 4px;
    margin: 0;
    
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14),0px 3px 14px 2px rgba(0,0,0,.12),0px 5px 5px -3px rgba(0,0,0,.2);
    background-color: white;

    > li {
        width: 100%;
        border-block-end: .5px solid var(--grey-0);
    }

    > li:hover {
        cursor: pointer;
        background-color: rgb(170, 170, 170);
    }
}

.label-list {
    position: relative;
}

.second-list {
    position: absolute;
    visibility: hidden;

    translate: 100% -100%;

    padding: 10px;
    border-radius: 4px;
    margin: 0;
    
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14),0px 3px 14px 2px rgba(0,0,0,.12),0px 5px 5px -3px rgba(0,0,0,.2);
    background-color: white;

    button {
        padding: 5px;
        border-radius: 4px;
    }
}

.label-menu:hover .second-list{
    visibility: visible;
}

.actions-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;

    font-size: 12px;

    button {
        padding: 10px;
    }

    color: var(--text-base);
}

.shown-mails {
    display: flex;
    align-items: center;
}

.filter-tabs {
    display: grid;
    grid-template-columns: repeat(4, minmax(167px, 252px));

    border-block-end: 1px solid rgba(211, 211, 211, 0.641);
    
    color: var(--text-base);

    > button {
        display: flex;
        align-items: center;

        height: 56px;
        flex-grow: 1;
        border-radius: unset;

        color: var(--text-base);

        span {
            margin-inline: 16px;
        }
    }
}

.compose-form {
    position: sticky;
    bottom: 0;
    translate: 160%;

    display: flex;
    flex-wrap: wrap;

    height: 576px;
    width: 450px;

    padding-inline: 16px;
    border-radius: 8px 8px 0 0;

    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
    background-color: #fff;
    z-index: 10;

    h4, .window-actions, input {
        display: inline-flex;
        align-items: center;

        height: 20px;

        padding-block: 10px;

    }

    h4 {
        flex-grow: 2;
    }

    .window-actions {
        padding-inline: 4px 12px;
    }

    form {
        display: flex;
        flex-direction: column;

        height: calc(100% - 100px - 31px);
        width: 100%;

        > * {
            border: none;
        }

        > *:focus-visible {
            outline: none;
        }

        input:not(.mail-body) {
            border-block-end: 1px solid var(--light-grey);
        }

        .mail-body {
            flex-grow: 1;
        }
    }

    .text-edit-actions {
        display: flex;
        width: 100%;

        padding: 8px 2px;

        box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);

        button {
            height: 100%;
            width: 100%;
        }
    }

    .mail-actions {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-block: 16px 12px;
    }

    .mail-actions button {
        height: 20px;
        width: 20px;
    }

    .mail-actions button.send {
        height: 32px;
        width: 105px;
    }

}