header {
    --padding: 8px;

    background: lightcyan;

    font-family: Product-sans, Arial, Helvetica, sans-serif;
}

.app-header {
    
    .main-nav-btn {
        display: inline-block;
    }

    .main-search-container {
        --margin-search-bar: 72px;
    }
}

.app-header {
    position: relative;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 256px 1fr max-content;

    padding: var(--padding);

    background-color: var(--main-bg-color);

    input {
        border: unset;
        background-color: unset;
    }
}

.close-menu {
    position: absolute;
    height: 100vh;
    width: 100vw;

    background-color: rgb(0 0 0 / 17%);
    z-index: 9;
}

.main-nav-btn {
    position: absolute;
    top: 12px;
    right: 16px;
}

.main-nav-btn::before {
    display: block;
    height: 24px;
    width: 24px;
}

nav a {
    margin: .5em;
}

.main-nav {

    position: absolute;
    right: 0;
    translate: -16px 64px;

    width: 220px;

    flex-wrap: wrap;
    justify-content: center;

    padding: 10px;
    border: 8px solid var(--read-mail-bg);
    border-radius: 16px;

    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
    background: #ffffff;
    z-index: 10;

    a {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
        
        padding: 5px;
        border-radius: 16px; 
    }

    a > svg {
        height: 100%;
        width: 100%;
    }

    a:hover {
        background-color: var(--menu-btn-hover);
    }

    > a:hover svg {
        color: var(--btn-hover);
    }
}

.main-nav.menu-open {
    display: flex;
}

nav a:active {
    color: var(--nav-press);
}

nav a.active {
    color: var(--active-nav);
    font-weight: bold;
    text-decoration: underline;
}

button {
    padding: var(--padding);
    border-radius: 50%;
}

button:hover {
    background: var(--menu-btn-hover);
}

.main-menu-btn {
    height: 48px;
    width: 48px;

    padding: 12px;
}

.logo-menu-container {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px;
}

.logo {
    height: 40px;
    width: 109px;

    margin-block: 4px;
}

.main-search-container {
    --margin-search-bar: 36px;

    display: grid;
    grid-template-columns: 46px 1fr 46px;
    align-items: center;


    height: 46px;
    max-width: 720px;


    border-radius: var(--main-search-border-radius);
    margin-inline-end: var(--margin-search-bar);


    background-color: var(--search-bar);

    input {
        height: 100%;
        margin-inline: 0 20px;
        
        font-size: 1em;
    }

    input:focus-visible {
        outline: none;
    }
}