header {
    --padding: 8px;

    background: lightcyan;

    font-family: Product-sans, Arial, Helvetica, sans-serif;
}

.app-header {
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 256px 1fr max-content;

    padding: var(--padding);

    background-color: var(--main-bg-color);

    input {
        border: unset;
        background-color: unset;
    }
}

nav a {
    margin: .5em;

}

nav a:active {
    color: var(--nav-press);
}

nav a.active {
    color: var(--active-nav);
    font-weight: bold;
    text-decoration: overline;
}

button {
    padding: var(--padding);
    border-radius: 50%;
}

button:hover {
    background: var(--menu-btn-hover);
}

.main-menu-btn {
    height: 48px;
    width: 48px;

    padding: 12px;
}

.logo-menu-container {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px;
}

.logo {
    height: 40px;
    width: 109px;

    margin-block: 4px;
}

.main-search-container {
    display: grid;
    grid-template-columns: 46px 1fr 46px;
    align-items: center;


    height: 46px;
    max-width: 720px;


    border-radius: var(--main-search-border-radius);
    margin-inline-end: 36px;


    background-color: var(--search-bar);

    input {
        height: 100%;
        margin-inline: 0 20px;
        
        font-size: 1em;
    }

    input:focus-visible {
        outline: none;
    }
}