*::before {
    font-family: 'Material Icons';
    font-size: 20px;
}

.mail-list *::before {
    --mail-list-btns: #c7c8c8;
    --marked-list-btns: #f5c769;

    color: var(--mail-list-btns);
}

.mail-list tr:hover *::before {
    --mail-list-btns: rgb(66 68 67);
}

.refresh::before {
    content: 'refresh'
}

.options::before {
    content: 'more_vert'
}

.trash::before {
    content: 'delete'
}

.mail-read::before {
    content: 'drafts'
}

.mail-unread::before {
    content: 'mark_email_unread'
}

.marked::before {
    font-variation-settings: 'FILL' var(--menu-fill);
    color: var(--menu-marked);
}

.mail-list, .details-container {

    .marked.starred::before, .marked.important::before {
        font-variation-settings: 'FILL' 1;
        color: var(--marked-list-btns);
    }
}

/* APP HEADER LOGO */

.note-logo{
    z-index: 200;
}

.app-logo{
    rotate: 90deg;
}

.search::before {
    content: 'search'
}

.advanced-search::before {
    content: 'tune'
}

.main-nav-btn::before {
    content: 'apps';

    font-size: 24px;
}

/* MAIN MENU */

.main-menu-btn::before{
    content: 'menu'
}

.main-menu *:not(.compose)::before {
    margin-inline: 22px 20px;
    
    font-weight: 300;

    vertical-align: middle;
}

.compose::before {
    content: 'edit';
    font-size: 24px;
    vertical-align: middle;

    margin-inline: 14px;
}

.label-list button:before {
    content: 'label';
    font-variation-settings: 'FILL' 1;
    color: var(--label-color);
}

.inbox::before {
    content: 'inbox';
}

.starred::before {
    content: 'star';
}

.snoozed::before {
    content: 'schedule';
}

.important::before {
    content: 'label_important';
}
.sent::before {
    content: 'send';
}

.drafts::before {
    content: 'draft';
}

.categories::before {
    content: 'label';
}

.see-more::before {
    content: 'keyboard_arrow_down';
}

.check-box::before {
    content: 'check_box_outline_blank';
}

/* COMPOSE MAIL ICONS */

.minimize::before {
    content: 'minimize';
}

.fullscreen::before {
    content: 'open_in_full';
}

.close::before {
    content: 'close';
}

.undo::before {
    content: 'undo';
}

.redo::before {
    content: 'redo';
}

.font-size::before {
    content: 'format_size';
}

.bold::before {
    content: 'format_bold';
}

.italic::before {
    content: 'format_italic';
}

.underline::before {
    content: 'format_underlined';
}

.toggle-format-btns::before {
    content: 'format_color_text';
}

.format-align-left::before {
    content: 'format_align_left';
}

.format-align-center::before {
    content: 'format_align_center';
}

.format-align-right::before {
    content: 'format_align_right';
}

.numbered-list::before {
    content: 'format_list_numbered';
}

.bulleted-list::before {
    content: 'format_list_bulleted';
}

.indent-less::before {
    content: 'format_indent_increase';
}

.indent-more::before {
    content: 'format_indent_decrease';
}

.send-options::before {
    content: 'arrow_drop_down';
}

.attach-file::before {
    content: 'attach_file';
}

.menu::before{
    content: 'menu'
}

.note-logo{
    z-index: 200;
}

.note-logo-text{
    font-size: 18px;
}

.app-logo{
    rotate: 90deg;
}

.delete::before{
    content: 'delete';
}

.palette::before{
    content: 'palette';
}

.font-size-up::before{
    content: 'text_increase';
}

.font-size-down::before{
    content: 'text_decrease';
}

.notes::before{
    content: 'lightbulb_2';
}

.text::before{
    content: 'description';
}

.image::before{
    content: 'image';
}

.todos::before{
    content: 'checkList';
}

.duplicate::before{
    content: 'content_copy';
}

button.checked::before{
    content: 'check_box';
}

/* MAIL DETAILS ICONS */

.prev-mail::before {
    content: 'chevron_left';
}

.next-mail::before {
    content: 'chevron_right';
}

.go-back::before {
    content: 'arrow_back';
}

.archive::before {
    content: 'archive';
}

.report::before {
    content: 'report';
}

.move-to::before {
    content: 'drive_file_move';
}

.reply::before {
    content: 'reply';
}

.forward::before {
    content: 'reply';
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

button.unchecked::before{
    content: 'check_box_outline_blank';
}

.pin-btn::before{
    content: url(/assets/img/icons/unpinned.svg);
}

.pin-btn.pinned::before{
    content: url(/assets/img/icons/pinned.svg);
}

.no-color::before{
    content: 'format_color_reset';
}

.edit::before{
    content: 'edit';
}