.main-menu {
    color: var(--text-color);
}

button.compose {
    height: 56px;
    width: 142px;

    padding-inline: 0 24px;
    border-radius: 16px;
    margin: 8px 0 12px 8px;

    background-color: var(--active-btn);

    justify-self: start;
}

.compose:hover {
    box-shadow: 0 1px 3px 0 #3c40434d,0 4px 8px 3px rgba(60,64,67,.15);
}

.main-menu ul {
    
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content;
    grid-auto-rows: 32px;

    width: 100%;

    padding: 0;
    margin-block-start: 0;

    background-color: var(--main-bg-color);
    font-size: 14px;
    font-weight: 800;

    > * {
        grid-column: 1 / -1;
    }

    li {
        align-self: center;
        justify-self: self-start;

        display: grid;
        grid-template-columns: 1fr 3fr 20px;

        align-items: center;

        height: 32px;
        width: 240px;

        > * {
            grid-column: 1 / -1;
        }
    }

    button {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;

        padding: 4px;
        border-radius: 0 100px 100px 0;
        margin-block: 4px;

        font-family: Product-sans;
        font-weight: 200;
        letter-spacing: .05rem;
        
        text-align: start;

        span {
            justify-self: end;
            margin-inline-end: 4px;
        }
    }

    .marked {
        background-color: var(--active-btn);
        font-weight: 700;
    }
}

.filter-folders {
    margin-block-end: 28px;
}

.label-container {
    grid-template-rows: 32px auto;

    div {
        padding: 0 8px 0 26px;
        margin-block-end: 8px;

        h3 {
            font-weight: 300;
        }
        > button {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 20px;
            width: 20px;

            padding: 16px;
            margin-inline-end: 8px;
            font-size: 1.5em;
        }
    }
}